<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">

        <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
        <property name="url" value="jdbc:mysql://localhost:3306/mydb"></property>
        <property name="username" value="root"></property>
        <property name="password" value="hooray"></property>
        <property name="maxActive" value="100"></property>
        <property name="defaultAutoCommit" value="true"></property>
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">

        <property name="dataSource" ref="dataSource"></property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
            </props>
        </property>
        <property name="configLocation">
            <value>classpath:/hibernate.cfg.xml</value>
            <!--<value>hibernate.cfg.xml</value>-->
        </property>

        <property name="mappingResources">
            <list>
                <value>User.hbm.xml</value>
                <value>Book.hbm.xml</value>
                <value>Order.hbm.xml</value>
                <value>Orderitem.hbm.xml</value>
            </list>



        </property>

    </bean>

    <bean id="statisticDao" class="com.module.dao.daoimpl.StatisticDAOImpl" scope="singleton">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
    </bean>
    <bean id="orderDao" class="com.module.dao.daoimpl.OrderDAOImpl" scope="singleton">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
    </bean>
    <bean id="orderitemDao" class="com.module.dao.daoimpl.OrderitemDAOImpl" scope="singleton">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
    </bean>
    <bean id="userDao" class="com.module.dao.daoimpl.UserDAOImpl" scope="singleton">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
    </bean>
    <bean id="bookDao" class="com.module.dao.daoimpl.BookDAOImpl" scope="singleton">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
    </bean>
    <bean id="statisticService" class="com.module.service.serviceimpl.StatisticServiceImpl">
        <property name="statisticDao" ref="statisticDao"></property>
    </bean>

    <bean id="userService" class="com.module.service.serviceimpl.UserServiceImpl">
        <property name="userDao" ref="userDao"></property>
    </bean>
    <bean id="bookService" class="com.module.service.serviceimpl.BookServiceImpl">
        <property name="bookDao" ref="bookDao"></property>
    </bean>
    <bean id="cartService" class="com.module.service.serviceimpl.CartServiceImpl">
        <property name="bookDao" ref="bookDao"></property>
    </bean>
    <bean id="orderService" class="com.module.service.serviceimpl.OrderServiceImpl">
        <property name="orderDao" ref="orderDao"></property>
    </bean>

    <bean id="orderitemService" class="com.module.service.serviceimpl.OrderitemServiceImpl">
        <property name="orderitemDao" ref="orderitemDao"></property>
    </bean>

    <bean id="loginAction" class="com.module.action.LoginAction">
        <property name="userService" ref="userService"></property>
    </bean>
    <bean id="RegisterAction" class="com.module.action.RegisterAction">
        <property name="userService" ref="userService"></property>
    </bean>
    <bean id="UserInsertAction" class="com.module.action.UserInsertAction">
        <property name="userService" ref="userService"></property>

    </bean>
    <bean id="UserUpdateAction" class="com.module.action.UserUpdateAction">
        <property name="userService" ref="userService"></property>

    </bean>
    <bean id="CartInsertAction" class="com.module.action.CartAction">
        <property name="cartService" ref="cartService"></property>
    </bean>
    <bean id="OrderPlaceAction" class="com.module.action.OrderPlaceAction">
        <property name="bookService" ref="bookService"></property>
        <property name="orderService" ref="orderService"></property>
        <property name="orderitemService" ref="orderitemService"></property>
    </bean>
    <bean id="StatisticAction" class="com.module.action.StatisticAction">

        <property name="statisticService" ref="statisticService"></property>
    </bean>






</beans>